.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .content-box {
    flex: 1;
    padding-bottom: 0;

    @media screen and (min-width: 875px){
      padding-bottom: 50px;
    }

    hr {
      display: inline-block;
      background: rgba(203, 0, 53, 0.9);
      height: 2px;
      width: 50%;
    }

    .title-description {
      color: #758091;
      font-size: 1.1em;
      letter-spacing: .03em;
      line-height: 1.1em;
      padding: 1% 0 8% 0;
    }

    p {
      padding: 0 0 10% 0;
    }

    .info-box {
      background: url("../images/opis-croped2.jpg") center top no-repeat, linear-gradient(51deg, #cb0035 30%, #e06900);
      background-size: cover;
      border-radius: 50px;

      .background {
        background: linear-gradient(51deg, rgba(224, 105, 0, 0.8), rgba(203, 0, 53, 0.9));
        border-radius: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;


        .box {
          width: 260px;

          .txt {
            padding: 1% 6%;
            line-height: 32px;
            font-weight: 800;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }

        .logo-2 {
          padding: 3% 3% 3% 0;
          max-height: 120px;
          width: 160px;

          img {
            height: 100%;
          }

          @media screen and (max-width: 1085px){
            display: none;
          }
        }
      }
    }

    form {
      padding: 0 0 5% 0;
      display: flex;
      flex-wrap: wrap;

      .form {
        border-radius: 20px;
        border: 2px solid rgba(203, 0, 53, 0.9);
        padding: .5em;
        margin: 1% .5%;
        font-family: 'Dekko', cursive;
        font-size: 19px;
        width: 100%;

        @media screen and (min-width: 950px) {
          width: 42.5%;
        }

        &:nth-child(4) {

          @media screen and (min-width: 950px) {
            width: 46%;
          }
        }
      }

      .wide {
        @media screen and (min-width: 950px) {
          width: 90%;
        }
      }



      .btn {
        @extend .form;
        border: 2px solid white;
        margin-bottom: 10%;

        @media screen and (min-width: 875px) {
          margin-bottom: 0;
        }

        @media screen and (min-width: 950px) {
          width: 94%;
        }
      }
    }
  }
}