//============= footer =============

footer {
  background: url("../images/parking_mini.jpg") center bottom no-repeat, linear-gradient(51deg, #cb0035 30%, #e06900);
  background-size: cover;
  filter: contrast(1.2);
  width: 100%;

  .background {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:  center;
    overflow: hidden;

    img {
      max-height: 100px;
      padding: 4%;
    }

    .contact-footer {
      display: inline-block;
      text-align: left;
      padding: 2%;
    }

    .fb-wrap {
      width: 300px;
      padding: 2%;
    }
  }
}