.road {

  .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;

    .map {
      max-width: 400px;
    }
  }

  .content-box {
    padding: 1.5em 10%;

    .h2 {
      padding: 5% 0;
    }

    p {
      padding-top: 0;
    }
  }

  .road-info {
    background: url("../images/header-background_mini.jpg") center center no-repeat, linear-gradient(51deg, #cb0035 30%, #e06900);
    background-size: cover;
    filter: contrast(1.2);
    width: 100%;

    .background {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .wrap {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        padding: 2%;

        &:first-child {
          width: 200px;
        }

        &:last-child {
          width: 100px;

          div {
            &:first-child {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 900px){
    display: flex;
    flex-wrap: wrap;

    .img-box {

      .map {
        max-width: initial;
        height: auto;
        width: 100%;
      }
    }

    .content-box {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding: 5%;
    }

    .road-info {
      .background {

        .wrap {

          div {

          }
        }
      }
    }
  }
}