.localization {
  background: url("../../images/nocne-studnia.jpg") center center no-repeat;
  background-size: cover;
  filter: contrast(1.2);
  width: 100%;


  .background {
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(51deg, rgba(7, 0, 60, 0.5), rgba(32, 49, 81, 1));
    text-align: center;
    position: relative;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: 900px){
        width: 50%;
      }

      .h1 {
        padding-top: 10%;
      }

      .title-description {
        padding: 4% 10% 4% 10%;
        font-size: 1.3em;
        letter-spacing: .03em;
        line-height: 1.1em;
      }

      .h2 {
        width: 100%;
        text-transform: uppercase;
      }

      p {
        padding: 2%;
        width: 100%;
      }

      .btn-white {
        margin: 5% 0 8% 0;
      }
    }

    &:hover .caption {

      @media screen and (min-width: 950px){
        opacity: .6;
      }
    }
  }
}