//============= main banner =============

.main-banner {
  background: url("../images/header-background_mini.jpg") center center no-repeat, linear-gradient(51deg, #cb0035 30%, #e06900);
  background-size: cover;
  filter: contrast(1.2);
  width: 100%;

  .background {
    text-align: center;

    .h1 {
      padding:  .8em 1em 0 1em;
      font-size: 2em;
    }

    .title-description {
      width: 70%;
      text-align: center;
      font-size: 1.2em;
      margin: 1% auto;
    }

    p {
      color: white;
      padding: 5% 10%;
      opacity: 0.8;
      line-height: 1.1em;
      max-width: 800px;
      margin: 2% auto;
    }

    @media screen and (min-width: 700px) {

      p {
        padding: 1em 10%;
      }
    }
  }
}